<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.joyor">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Joyor"
        tools:ignore="AllowBackup">
        <activity
            android:name=".ui.RegisterNewProduct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RegisterProduct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PasswordUpdate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="com.joyorscooters.app.braintree" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.GoogleMapRouteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ProductDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CheckOutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.GpsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FaqActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ForgotPasswordActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".helper.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api" />
    </application>

</manifest>